.loading {
    height: 150px;
    width: 150px;
}

.loading__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(236,238,241, 0.8);
    z-index: 1;
}

.loading-transition-enter {
    opacity: 0;
  }
.loading-transition-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.loading-transition-exit {
    opacity: 1;
}
.loading-transition-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}