/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Della+Respira&family=Lato:ital,wght@0,400;0,700;1,100&display=swap"); /* font-family: 'Lato', sans-serif; */

html {
  font-size: 12px;
}

body {
  margin: 0;
  font-family: "Della Respira", serif;
  background-color: #eceef1;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
